html {
  text-align: center;
  font-family: Helvetica;
}

div {
  background-image: url("https://raw.githubusercontent.com/AJ-2018/Broadway/master/resources/images/the-flatiron-building.png");
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

div,
 .NY {
   color: white;
 }

.links {
  font-size: 18px;
}

.text {
  font-size: 14px;
}

.NY {
  font-size: 23px;
  font-weight: bold;
  background-image: url("https://raw.githubusercontent.com/AJ-2018/Broadway/master/resources/images/the-flatiron-building.png");
  background-size: cover;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
